# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv312/
.env
.env.*

# Django
db.sqlite3
*.log
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key